html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../assets/font/Segoe UI.woff2') format('woff2'),
		 url('../assets/font/Segoe UI.woff') format('woff'),
		 url('../assets/font/Segoe_UI.ttf')  format('truetype');
}

//--------------SPRITE
.logo {
    background: url('../assets/IconSprite.png') no-repeat 0 -130px;
	width: 175px;
	height: 51px;
	margin: 22px auto 12px;
}

.fbLogo {
	background: url('../assets/IconSprite.png') no-repeat -414px -300px;
	width: 16px;
	height: 16px;
}

#instaNav {
	background: url('../assets/IconSprite.png') no-repeat -122px -226px;
	width: 103px;
	height: 29px;
}

#home {
	background: url('../assets/IconSprite2.png') no-repeat -234px -473px;
	width: 24px;
	height: 24px;
}

#chat {
	background: url('../assets/IconSprite.png') no-repeat -321px -309px;
	width: 22px;
	height: 20px
}

#like {
	background: url('../assets/IconSprite2.png') no-repeat -208px -474px;
	width: 24px;
	height: 22px;
}

#compass {
	background: url('../assets/InstaCompass.svg') no-repeat;
	width:22px;
	height:22px;
}

//----------paneluser
#panel {
	background: url('../assets/IconSprite2.png') no-repeat 0 -447px;
	width: 23px;
	height: 23px;
	cursor: pointer;

	.thumbnailBoxPanel {
		height: 22px;
		width: 22px;
		border-radius: 50%;
		overflow: hidden;
	}
}

.speechBubble {
	overflow: hidden;
}

#thumbnailMenu {
	background: url('../assets/menuSprite.svg') no-repeat -76px -16px;
	width: 16px;
	height: 16px;
}

#setting {
	background: url('../assets/menuSprite.svg') no-repeat -104px -16px;
	width: 16px;
	height: 16px;
}

#checkedIn {
	background: url('../assets/menuSprite.svg') no-repeat -48px -16px;
	width: 16px;
	height: 16px;
}

#switchAccount {
	background: url('../assets/menuSprite.svg') no-repeat -16px -16px;
	width: 16px;
	height: 16px;
}

#setting2 {
	background: url('../assets/IconSprite2.png') no-repeat -338px -499px;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

//---------endpanel

@mixin btnColorOk {
	background-color: #0095F6;
	border-radius: 4px;
	margin: 8px 40px;
	padding: 5px 9px;
	color: white;
	border: 1px solid transparent;
}

@mixin btnColor {
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #B2DFFC;
	margin: 9px 40px;
	padding: 5px 9px;
	color: #FFFFFF;
}

body {
	background:#FAFAFA;
	font-family: 'Segoe UI', sans-serif;
}

//-----------------HEADER
header {

	nav {
		background-color: #fff;
		border-bottom: 1px solid #dbdbdb;
		position: fixed;
		top:0px;
		width: 100%;
		height: 54px;

		.navBox {
			height: 100%;
			width: 100%;
			display: flex;
			justify-items: center;
			align-items: center;
			flex-direction: column;

			.navWrapper {	
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				height: 100%;
				width: 80%;

				input[type=search] {
					background-color: #fafafa;
					font-size: 14px;
					border: solid 1px rgba(219,219,219,1);
					border-radius: 3px;
					padding: 3px 10px 3px 26px;
					color: #8e8e8e;
					outline: 0;

					&:focus {
						color: #262626;
					}
				}
	
				.iconMenu {
					display: flex;
					a {
						margin: 0 12px;
					}
//------------------subMenu
					div#panel {
						position: relative;

						&::after {
							content: "";
							display: block;
							background-color: #fff;
							height: 12px;
							width: 12px;
							position: absolute;
							z-index: 3;
							top: 32px;
							left: 6px;
							transform: rotate(135deg);
							box-shadow: -2px 2px 5px -1px rgba(0, 0, 0, 0.0975);
						}

						.menuToggle {
							display: none;
						}

						#panelMenu {
							position: absolute;
							top: 37px;
							right: -25px;
							background-color: #fff;
							width: 230px;
							border-radius: 6px;
							// z-index: 3;
							box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.0975);
							overflow-x: hidden;

							.dc {
								border-top: 1px solid #dbdbdb;
							}

							a.profil {
								position: relative;
								z-index: 777;
								background: rgb(255, 255, 255);
							}

							a {
								text-decoration: none;
								color: #262626;
								display: flex;
								width: 100%;
								margin: 0;
								padding: 11px 16px;
								font-size: 14px;

								div {
									margin-right: 8px;
								}

								&:hover {
									background-color: #fafafa;
								}

								&:focus {
									background-color: #f0efef;
								}
							}
						}
					}
				}
			}
		}
	}
}



//-----------register form
section.signup {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	
	div.formWrapper {
		background: white;
		width: 350px;
		border: 1px rgba(219,219,219,1) solid;
		border-radius: 1px;
		margin: 0 0 10px;
		padding: 10px 0;

		h2 {
			font-size: 17px;
			font-weight: 600;
			line-height: 20px;
			margin: 0 40px 10px;
			text-align: center;
			color: rgba(142,142,142,1);
		}


		.inputBox1 {
			
			.ou {
				margin: 18px 40px 18px;
				p {
					font-size: 14px;
					font-weight: 600;
					position: relative;

					&::before {
						position: absolute;
						content: "";
						height: 1px;
						width: 55%;
						background-color: rgb(161, 161, 161);
						display: block;
						top: 7px;
						left: -40px;
					}

					&::after {
						position: absolute;
						content: "";
						height: 1px;
						width: 55%;
						background-color: rgb(161, 161, 161);
						display: block;
						top: 7px;
						right: -40px;
					}
				}
			}

			p {
				text-align: center;
				color: rgba(142,142,142,1);
				font-size: 12px;
				margin: 10px 40px;
				line-height: 16px;

				a {
					color: rgba(142,142,142,1);
					font-weight: 600;
				}
			}

			.fb {
				width: 100%;
				
				a {
					display: flex;
					justify-content: center;
					align-content: center;
					text-decoration: none;
					@include btnColorOk;
					font-size: 14px;
					line-height: 21px;

					div {
						margin: 0 5px;
					}
				}
			}

			form {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				label {
					display: none;
				}

				input {
					font-family: 'Segoe UI', sans-serif;
					background-color: #FAFAFA;					
					padding: 9px 0 7px 8px;
					text-overflow: ellipsis;
					border: 1px rgba(219,219,219,1) solid;
					border-radius: 2px;
					width: 250px;
					margin: 3px 0px;
					padding: 9px;
				}
			}

			button {
				@include btnColor;
				width: 270px;
			}
		}
//-------------date of birth form
		.inputBox2 {
			display: none;

			.inputBox2Wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding: 8px 28px;
				text-align: center;

				label {
					display: none;
				}

				p:nth-child(2) {
					font-weight: bold;
					font-size: inherit;
					margin-top: 16px;
					margin-bottom: 16px;
				}

				p {
					font-size: 14px;
				}

				#toggleModal {
					p {
						color: #0095f6;
						cursor: pointer;
						margin: 5px 0px;
					}
				}

				.footerDob {
					p {
						margin: 14px 0px;
						font-size: 12px;
						color: #8e8e8e;
					}
				}
	
				.birthday {
					background: url('../assets/IconSprite2.png') no-repeat -5px -109px;
					width: 134px;
					height: 85px;
					position: relative;

					&:after {
						content: '';
						width: 49px;
						height: 2px;
						background-color: #dbdbdb;
						display: block;
						position: absolute;
						bottom: -7px;
						left: 50px;
						border-radius: 2px;
					}
				}

				button {
					width: 250px;
					@include btnColorOk;
				}
			}
		}
	}

	//input select dob
	#user_dob {
		margin: 8px 0px;

		select {
			color: #979797;
			font-size: 12px;
			height: 36px;
			padding: 0 3px 0 8px;
			border-radius: 3px;
			border: 1px solid #dbdbdb;
			margin: 6px 2px;
			
			&::placeholder {
				color: violet;
				text-align: center;
			}

			&:nth-child(1) {
				width: 91px;
			}

			&:focus {
				color: black;
			}
		}
	}

	.login {
		background-color: white;
		border: 1px rgba(219,219,219,1) solid;
		width: 350px;
		border-radius: 1px;
		margin: 0 0 10px;
		padding: 10px 0;

		p {
			color: rgba38,38,38,1;
			font-size: 14px;
			margin: 15px;
			text-align: center;

			a {
				text-decoration: none;
				color: #0095f6;
			}
		}
	}

	#UmustEnterDob {
		font-size: 12px;
		color:rgba(142,142,142,1);
	}

	.DlApp {
		text-align: center;
		font-size: 14px;
		line-height: 18px;
		margin: 10px 20px 16px 20px;
	}

	#modalWrapper {
		background-color: rgba(0,0,0,.65);
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 0%;
		overflow: hidden;

		.modalContent {
			background: white;
			width: 400px;	
			position: inherit;
			text-align: center;
			border-radius: 12px;

			.modalHeader {
				border-bottom: 1px solid #dbdbdb;
				display: flex;
				color: #505050;
				height: 43px;
				align-items: center;
				overflow: hidden;

				h1 {
					flex-grow: 1;
					font-size: 16px;
				}

				div:first-child{
					height: 46.8px;
					width: 50.53px;
				}

				#close {
					padding: 8px;
					font-size: 45px;
					cursor: pointer;
					margin-bottom: 10px;
				}
			}

			.modalFooter {
				border-top: 1px solid #dbdbdb;
				height: 43px;

				a {
					color: #0095f6;
					font-size: 14px;
					font-weight: 600;
					line-height: 44px;
					padding: 8px 35%;
					text-align: center;
				}
			}
		}

		.modalBody {
			margin: 20px 28px;

			h3 {
				color: #262626;
			}

			p {
				font-size: 14px;
				text-align: center;
				color: #262626;
				line-height: 18px;
				margin: -3px 0 -4px;
			}

			.modalBirthday {
				background: url('../assets/IconSprite2.png') no-repeat -5px -109px;
				width: 134px;
				height: 85px;
				margin: 0 auto;
				position: relative;

					&:after {
						content: '';
						width: 49px;
						height: 2px;
						background-color: #dbdbdb;
						display: block;
						position: absolute;
						bottom: -7px;
						left: 50px;
						border-radius: 2px;
					}
			}
		}
	}
}

//---------------USER PANEL
main.panel {
	margin-top: 60px;

	input[type=file] {
		display: none;
	}

	div.thumbnailWrapper {
		border-radius: 50%;
		overflow: hidden;
		width: 150px;
		height: 150px;
		background-color: black;

		img {
			width: 100%;
			height: 100%;
		}
	}

	//____MODAL
	div.overlay {
		background: rgba(0,0,0,.65);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: none;

		div.modal {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: #fff;
			border-radius: 12px;
			overflow: hidden;
			width: 420px;
			display: flex;
			justify-content: center;
			text-align: center;
			flex-direction: column;

			h3 {
				color: #262626;
				font-weight: 600;
				font-size: 18px;
				margin: 32px;
			}

			button {
				background: transparent;
				border: none;
				border-top: 1px solid #dbdbdb;
				cursor: pointer;
				padding: 4px 8px;
				min-height: 48px;
				font-size: 14px;
				width: 100%;
			}

			#importBtn {
				color: #0095f6;
				font-weight: 700;
				display: block;
				width: 100%;
				cursor: pointer;
				background: transparent;
				border: none;
				border-top: 1px solid #dbdbdb;
				min-height: 48px;
				font-size: 14px;
				line-height: 49px;
			}

			#deleteBtn {
				color: #ed4956;
				font-weight: 700;
			}
		}	
	}
}