html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Segoe UI';
  src: url("../assets/font/Segoe UI.woff2") format("woff2"), url("../assets/font/Segoe UI.woff") format("woff"), url("../assets/font/Segoe_UI.ttf") format("truetype");
}

.logo {
  background: url("../assets/IconSprite.png") no-repeat 0 -130px;
  width: 175px;
  height: 51px;
  margin: 22px auto 12px;
}

.fbLogo {
  background: url("../assets/IconSprite.png") no-repeat -414px -300px;
  width: 16px;
  height: 16px;
}

#instaNav {
  background: url("../assets/IconSprite.png") no-repeat -122px -226px;
  width: 103px;
  height: 29px;
}

#home {
  background: url("../assets/IconSprite2.png") no-repeat -234px -473px;
  width: 24px;
  height: 24px;
}

#chat {
  background: url("../assets/IconSprite.png") no-repeat -321px -309px;
  width: 22px;
  height: 20px;
}

#like {
  background: url("../assets/IconSprite2.png") no-repeat -208px -474px;
  width: 24px;
  height: 22px;
}

#compass {
  background: url("../assets/InstaCompass.svg") no-repeat;
  width: 22px;
  height: 22px;
}

#postIcon {
  background: url("../assets/IconSprite.png") no-repeat -174px -369px;
  width: 12px;
  height: 12px;
}

#igtvIcon {
  background: url("../assets/IconSprite.png") no-repeat -189px -369px;
  width: 10px;
  height: 12px;
}

#savedIcon {
  background: url("../assets/IconSprite.png") no-repeat 0 -389px;
  width: 10px;
  height: 12px;
}

#tagIcon {
  background: url("../assets/IconSprite.png") no-repeat -216px -369px;
  width: 12px;
  height: 12px;
}

#panel {
  background: url("../assets/IconSprite2.png") no-repeat 0 -447px;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

#panel .thumbnailBoxPanel {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  overflow: hidden;
}

.speechBubble {
  overflow: hidden;
}

#thumbnailMenu {
  background: url("../assets/menuSprite.svg") no-repeat -76px -16px;
  width: 16px;
  height: 16px;
}

#setting {
  background: url("../assets/menuSprite.svg") no-repeat -104px -16px;
  width: 16px;
  height: 16px;
}

#checkedIn {
  background: url("../assets/menuSprite.svg") no-repeat -48px -16px;
  width: 16px;
  height: 16px;
}

#switchAccount {
  background: url("../assets/menuSprite.svg") no-repeat -16px -16px;
  width: 16px;
  height: 16px;
}

#setting2 {
  background: url("../assets/IconSprite2.png") no-repeat -338px -499px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: 15px;
}

body {
  background: #FAFAFA;
  font-family: 'Segoe UI', sans-serif;
}

header nav {
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 54px;
}

header nav .navBox {
  height: 100%;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

header nav .navBox .navWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 80%;
}

header nav .navBox .navWrapper input[type=search] {
  background-color: #fafafa;
  font-size: 14px;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  padding: 3px 10px 3px 26px;
  color: #8e8e8e;
  outline: 0;
}

header nav .navBox .navWrapper input[type=search]:focus {
  color: #262626;
}

header nav .navBox .navWrapper .iconMenu {
  display: flex;
}

header nav .navBox .navWrapper .iconMenu a {
  margin: 0 12px;
}

header nav .navBox .navWrapper .iconMenu div#panel {
  position: relative;
}

header nav .navBox .navWrapper .iconMenu div#panel::after {
  content: "";
  display: block;
  background-color: #fff;
  height: 12px;
  width: 12px;
  position: absolute;
  z-index: 3;
  top: 32px;
  left: 6px;
  transform: rotate(135deg);
  box-shadow: -2px 2px 5px -1px rgba(0, 0, 0, 0.0975);
}

header nav .navBox .navWrapper .iconMenu div#panel .menuToggle {
  display: none;
}

header nav .navBox .navWrapper .iconMenu div#panel #panelMenu {
  position: absolute;
  top: 37px;
  right: -25px;
  background-color: #fff;
  width: 230px;
  border-radius: 6px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.0975);
  overflow-x: hidden;
}

header nav .navBox .navWrapper .iconMenu div#panel #panelMenu .dc {
  border-top: 1px solid #dbdbdb;
}

header nav .navBox .navWrapper .iconMenu div#panel #panelMenu a.profil {
  position: relative;
  z-index: 777;
  background: white;
}

header nav .navBox .navWrapper .iconMenu div#panel #panelMenu a {
  text-decoration: none;
  color: #262626;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 11px 16px;
  font-size: 14px;
}

header nav .navBox .navWrapper .iconMenu div#panel #panelMenu a div {
  margin-right: 8px;
}

header nav .navBox .navWrapper .iconMenu div#panel #panelMenu a:hover {
  background-color: #fafafa;
}

header nav .navBox .navWrapper .iconMenu div#panel #panelMenu a:focus {
  background-color: #f0efef;
}

section.signup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

section.signup div.formWrapper {
  background: white;
  width: 350px;
  border: 1px #dbdbdb solid;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
}

section.signup div.formWrapper h2 {
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  margin: 0 40px 10px;
  text-align: center;
  color: #8e8e8e;
}

section.signup div.formWrapper .inputBox1 .ou {
  margin: 18px 40px 18px;
}

section.signup div.formWrapper .inputBox1 .ou p {
  font-size: 14px;
  font-weight: 600;
  position: relative;
}

section.signup div.formWrapper .inputBox1 .ou p::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 55%;
  background-color: #a1a1a1;
  display: block;
  top: 7px;
  left: -40px;
}

section.signup div.formWrapper .inputBox1 .ou p::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 55%;
  background-color: #a1a1a1;
  display: block;
  top: 7px;
  right: -40px;
}

section.signup div.formWrapper .inputBox1 p {
  text-align: center;
  color: #8e8e8e;
  font-size: 12px;
  margin: 10px 40px;
  line-height: 16px;
}

section.signup div.formWrapper .inputBox1 p a {
  color: #8e8e8e;
  font-weight: 600;
}

section.signup div.formWrapper .inputBox1 .fb {
  width: 100%;
}

section.signup div.formWrapper .inputBox1 .fb a {
  display: flex;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  background-color: #0095F6;
  border-radius: 4px;
  margin: 8px 40px;
  padding: 5px 9px;
  color: white;
  border: 1px solid transparent;
  font-size: 14px;
  line-height: 21px;
}

section.signup div.formWrapper .inputBox1 .fb a div {
  margin: 0 5px;
}

section.signup div.formWrapper .inputBox1 form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section.signup div.formWrapper .inputBox1 form label {
  display: none;
}

section.signup div.formWrapper .inputBox1 form input {
  font-family: 'Segoe UI', sans-serif;
  background-color: #FAFAFA;
  padding: 9px 0 7px 8px;
  text-overflow: ellipsis;
  border: 1px #dbdbdb solid;
  border-radius: 2px;
  width: 250px;
  margin: 3px 0px;
  padding: 9px;
}

section.signup div.formWrapper .inputBox1 button {
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #B2DFFC;
  margin: 9px 40px;
  padding: 5px 9px;
  color: #FFFFFF;
  width: 270px;
}

section.signup div.formWrapper .inputBox2 {
  display: none;
}

section.signup div.formWrapper .inputBox2 .inputBox2Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 28px;
  text-align: center;
}

section.signup div.formWrapper .inputBox2 .inputBox2Wrapper label {
  display: none;
}

section.signup div.formWrapper .inputBox2 .inputBox2Wrapper p:nth-child(2) {
  font-weight: bold;
  font-size: inherit;
  margin-top: 16px;
  margin-bottom: 16px;
}

section.signup div.formWrapper .inputBox2 .inputBox2Wrapper p {
  font-size: 14px;
}

section.signup div.formWrapper .inputBox2 .inputBox2Wrapper #toggleModal p {
  color: #0095f6;
  cursor: pointer;
  margin: 5px 0px;
}

section.signup div.formWrapper .inputBox2 .inputBox2Wrapper .footerDob p {
  margin: 14px 0px;
  font-size: 12px;
  color: #8e8e8e;
}

section.signup div.formWrapper .inputBox2 .inputBox2Wrapper .birthday {
  background: url("../assets/IconSprite2.png") no-repeat -5px -109px;
  width: 134px;
  height: 85px;
  position: relative;
}

section.signup div.formWrapper .inputBox2 .inputBox2Wrapper .birthday:after {
  content: '';
  width: 49px;
  height: 2px;
  background-color: #dbdbdb;
  display: block;
  position: absolute;
  bottom: -7px;
  left: 50px;
  border-radius: 2px;
}

section.signup div.formWrapper .inputBox2 .inputBox2Wrapper button {
  width: 250px;
  background-color: #0095F6;
  border-radius: 4px;
  margin: 8px 40px;
  padding: 5px 9px;
  color: white;
  border: 1px solid transparent;
}

section.signup #user_dob {
  margin: 8px 0px;
}

section.signup #user_dob select {
  color: #979797;
  font-size: 12px;
  height: 36px;
  padding: 0 3px 0 8px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  margin: 6px 2px;
}

section.signup #user_dob select::placeholder {
  color: violet;
  text-align: center;
}

section.signup #user_dob select:nth-child(1) {
  width: 91px;
}

section.signup #user_dob select:focus {
  color: black;
}

section.signup .login {
  background-color: white;
  border: 1px #dbdbdb solid;
  width: 350px;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
}

section.signup .login p {
  color: rgba38,38,38,1;
  font-size: 14px;
  margin: 15px;
  text-align: center;
}

section.signup .login p a {
  text-decoration: none;
  color: #0095f6;
}

section.signup #UmustEnterDob {
  font-size: 12px;
  color: #8e8e8e;
}

section.signup .DlApp {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  margin: 10px 20px 16px 20px;
}

section.signup #modalWrapper {
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0%;
  overflow: hidden;
}

section.signup #modalWrapper .modalContent {
  background: white;
  width: 400px;
  position: inherit;
  text-align: center;
  border-radius: 12px;
}

section.signup #modalWrapper .modalContent .modalHeader {
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  color: #505050;
  height: 43px;
  align-items: center;
  overflow: hidden;
}

section.signup #modalWrapper .modalContent .modalHeader h1 {
  flex-grow: 1;
  font-size: 16px;
}

section.signup #modalWrapper .modalContent .modalHeader div:first-child {
  height: 46.8px;
  width: 50.53px;
}

section.signup #modalWrapper .modalContent .modalHeader #close {
  padding: 8px;
  font-size: 45px;
  cursor: pointer;
  margin-bottom: 10px;
}

section.signup #modalWrapper .modalContent .modalFooter {
  border-top: 1px solid #dbdbdb;
  height: 43px;
}

section.signup #modalWrapper .modalContent .modalFooter a {
  color: #0095f6;
  font-size: 14px;
  font-weight: 600;
  line-height: 44px;
  padding: 8px 35%;
  text-align: center;
}

section.signup #modalWrapper .modalBody {
  margin: 20px 28px;
}

section.signup #modalWrapper .modalBody h3 {
  color: #262626;
}

section.signup #modalWrapper .modalBody p {
  font-size: 14px;
  text-align: center;
  color: #262626;
  line-height: 18px;
  margin: -3px 0 -4px;
}

section.signup #modalWrapper .modalBody .modalBirthday {
  background: url("../assets/IconSprite2.png") no-repeat -5px -109px;
  width: 134px;
  height: 85px;
  margin: 0 auto;
  position: relative;
}

section.signup #modalWrapper .modalBody .modalBirthday:after {
  content: '';
  width: 49px;
  height: 2px;
  background-color: #dbdbdb;
  display: block;
  position: absolute;
  bottom: -7px;
  left: 50px;
  border-radius: 2px;
}

main.panel {
  margin-top: 60px;
}

main.panel input[type=file] {
  display: none;
}

main.panel div.thumbnailWrapper {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  background-color: black;
}

main.panel div.thumbnailWrapper img {
  width: 100%;
  height: 100%;
}

main.panel div.overlay {
  background: rgba(0, 0, 0, 0.65);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

main.panel div.overlay div.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  width: 420px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

main.panel div.overlay div.modal h3 {
  color: #262626;
  font-weight: 600;
  font-size: 18px;
  margin: 32px;
}

main.panel div.overlay div.modal button {
  background: transparent;
  border: none;
  border-top: 1px solid #dbdbdb;
  cursor: pointer;
  padding: 4px 8px;
  min-height: 48px;
  font-size: 14px;
  width: 100%;
}

main.panel div.overlay div.modal #importBtn {
  color: #0095f6;
  font-weight: 700;
  display: block;
  width: 100%;
  cursor: pointer;
  background: transparent;
  border: none;
  border-top: 1px solid #dbdbdb;
  min-height: 48px;
  font-size: 14px;
  line-height: 49px;
}

main.panel div.overlay div.modal #deleteBtn {
  color: #ed4956;
  font-weight: 700;
}

main.panel section.userPanel {
  display: flex;
  justify-content: center;
  padding: 30px 20px;
}

main.panel section.userPanel div.userInfo {
  width: 614px;
  margin: 0 0 0px 90px;
}

main.panel section.userPanel div.userInfo .userInfo1 {
  display: flex;
  align-items: center;
}

main.panel section.userPanel div.userInfo .userInfo1 h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 300;
  font-size: 28px;
  color: #262626;
}

main.panel section.userPanel div.userInfo .userInfo1 a {
  background-color: transparent;
  border: 1px solid #dbdbdb;
  color: #262626;
  border-radius: 4px;
  padding: 5px 9px;
  height: 18px;
  font-weight: bolder;
  margin-left: 20px;
  font-size: 14px;
  line-height: 17px;
}

main.panel section.userPanel div.userInfo .userInfo2 {
  display: flex;
}

main.panel section.userPanel div.userInfo .userInfo2 p {
  font-size: 16px;
  color: #262626;
}

main.panel section.userPanel div.userInfo .userInfo2 p span {
  font-weight: bold;
}

main.panel section.userPanel div.userInfo .userInfo2 p:nth-child(1n+2) {
  margin-left: 40px;
}

main.panel section.userPanel div.userInfo h1 {
  font-size: 16px;
  word-wrap: break-word;
  font-weight: 600;
  margin-top: 24px;
}

main.panel .tablistWrapper {
  display: flex;
  justify-content: center;
}

main.panel .tablistWrapper div.tablist {
  display: flex;
  justify-content: center;
  width: 935px;
  border-top: 1px solid #dbdbdb;
  text-align: center;
}

main.panel .tablistWrapper div.tablist .tablistIcon {
  margin-right: 5px;
}

main.panel .tablistWrapper div.tablist a {
  display: flex;
  color: #8e8e8e;
  margin-left: 60px;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  padding: 22px 0px;
}

main.panel .tablistWrapper div.tablist a:active {
  color: #dbdbdb;
}

main.panel .tablistWrapper div.tablist a:first-child {
  color: #262626;
  border-top: 1px solid black;
  margin-top: -1px;
}

main.panel .tablistWrapper div.tablist a:first-child:active {
  color: #dbdbdb;
}

main.panel section.userPosts {
  display: flex;
  justify-content: center;
}

main.panel section.userPosts div.postWrapper {
  width: 935px;
}

main.panel section.userPosts div.defaultpostWrapper {
  display: flex;
}

main.panel section.userPosts div.defaultPost {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 555px;
}

main.panel section.userPosts div.defaultPost div {
  text-align: center;
}

main.panel section.userPosts div.defaultPost div h2 {
  font-size: 18px;
}

main.panel section.userPosts div.defaultPost div h3 {
  font-size: 16px;
  margin-top: 10px;
}
