{% extends 'base.html.twig' %}

{% block body %}
<section class="home">

    {% for post in posts %}
    <div class="postWrapper">
        <a href="">{{ post.user.username }}</a>
        <p>{{ post.description }}</p>
        <p>{{ post.createdAt | date('Y-m-d') }}</p>
        <a href="">Afficher les commentlengt commentaires</a>
        {% set difference = date(post.createdAt).diff(date('now')) %}
        {% set leftDays = difference.days %}
        {% if leftDays == 1 %}
            <a href="">Il y'a 1 jour</a>
        {% else %}
        <a href="">Il y'a {{ leftDays }} jours</a>
        {% endif %}
    </div>
    {% endfor %}

</section>
{% endblock %}