{% block body %}
<div class="sprite"></div>
<p>Inscrivez-vous pour voir les photos et vidéos de vos amis.</p>
{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{% endblock %}